{% extends 'base.html' %}

{% block title %}
New Approval Request
{% endblock %}

{% block header %}
  <li class="nav-item"><a href="/approval/" class="nav-link">Approval</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Project</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Management Plan</a></li>
  <li class="nav-item"><a href="#" class="nav-link">About</a></li>
{% endblock %}

{% block contents %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">申請</button>
</form>
{% endblock %}
